.nav {
	background-color: #259c2d;
	border-bottom: 1.5px solid #fffdd0;
	box-shadow: 0px 1px 4px black;
}
.centratonav{
	width: 550px;
	margin: auto;
	padding: 10px;
	text-align: center;
    
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #259c2d;
	border-top: 1.5px solid #b48648;
	box-shadow: 1px 0px 4px black;
	color: #cec0af;
	font-size: 9px;
	text-align: center;
	padding: 10px;
}


* {
    box-sizing: border-box;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

body {
	padding: 0px;
	margin: 0px;
	font-family: 'Open Sans', Verdana, 'DejaVu Sans', Arial, sans-serif;
	background-color: #ede1cc;
}

.centratonav{
	width: 550px;
	margin: auto;
	padding: 10px;
	text-align: center;
	background-color: #259c2d;
}

ul.navlinks{
	color: #fffdd0;
	font-weight: bold;
	padding-left: 0px;
}
ul.navlinks li {
	display: inline;
	margin: 10px;
}
ul.navlinks li#active{
	color:white;
}
ul.navlinks li a{
	text-decoration: none;
	color: #fffdd0;
}
ul.navlinks li a:hover{
	color: white;
}